.location_center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  text-align: center;
  background-color: #fff;
}


.scrollRange {
  height: 75px;
}

.location_center p {
  font-size: 50px;
  font-family: 'Alverata-Regular', sans-serif;
  line-height: 1.3em;
  margin: 0 0 0.15em 0;
}

#canvas video{
  min-width: 100%;
  min-height: 100vh;
}

#data_point{
  margin-bottom: 70px;
}

#status{
  margin-bottom: 20px;
}


#lonlat{
  font-size: 14px;
  font-family: 'aileronregular', sans-serif;
  line-height: 1.45em;
  text-align: left;
  color: #114526;
  transition: .3s;
}

.fadeAnimation {
  opacity: 1;
  transition: .3s;
}

#lon {
  margin-left: 10px;
}

.oa_content{
  padding: 30px 40px 20px 40px;
  border: 2px solid #114526;
}
