/* ----------------
      L O G O
---------------- */

#poster {
  position: absolute;
  top: 10px;
  right: 100px;
  max-width: 300px;
  z-index: 9999999;
}

.oa_logo {
  font-size: 26px;
  padding: 10px 40px 10px 10px;
  border: 2px solid #191919 !important;
  color: #191919 !important;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  font-family: 'NEXTBook-Regular', sans-serif;
  z-index: 10;
  top: 40px;
  left: 40px;
  cursor: pointer;
}

.scrollRange {
  height: 440px;
  margin-top: 10px;
}

.oa_logo_inner {
  width: 100%;
  left: 0px;
  padding: 50px 10px 10px 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #191919 !important;
  position: absolute;
  cursor: pointer;
}

.oa_logo_color {
  transition: 0.5s;
}

.notice {
  padding: 5px 20px;
  margin: 40px 1%;
  background-color: white;
  border: 1px solid black;
  width: calc(100vw - 240px);
  float: right;
  font-size: .7em;
}

.oa_mobile_header {
  width: 100%;
  padding: 15px 15px 13px;
  font-size: 25px;
  border: 1px solid #0000FF;
  background-color: #FFF;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}




@media only screen and (max-width: 768px) {
  .oa_mobile_header {
    display: block !important;
  }
  .oa_logo {
    width: 20px;
    padding: 0;
    left: 20px;
    top: 80px;
  }

  .oa_logo_inner {
    padding: 50px 0 0;
    width: 18px;
    min-height: 78px;
  }

  .oa_logo_color {
    visibility: hidden;
  }
}
@media only screen and (max-width: 460px) {
  .oa_footer_title {
    padding: 0 20px 0 45px;
  }

  .oa_footer_wrapper {
    padding: 0 20px 0 45px;
  }

  .oa_logo {
    width: 10px;
    left: 15px;
  }

  .oa_logo_inner {
    width: 8px;
  }
}
