.oa_payment_wrapper{
	width: 100%;
	max-width: 800px;
	border: 1px solid #191919;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 24px;
	font-family: 'NEXTBook-Regular', sans-serif;
	text-align: center;
	margin: 50px auto;
	color: #191919;
	background-color: white;
}

.oa_p_label{
	padding: 15px;
	border-bottom: 1px solid #191919;
}

.oa_p_content{
	padding: 30px 30px 35px 30px;
	font-size: 19px;
	font-family: 'Alverata-Regular', serif;
	line-height: 1.35em;
	text-align: left;
}

.oa_p_content::after{
	content: " ";
    display: block;
    height: 0;
    clear: both;
}

.oa_left{
	width: 50%;
  padding-right: 30px;
	float: left;
}

.oa_left img{
	width: 100%;
	display: block;
}

.oa_right{
	width: 50%;
	float: right;
	padding-left: 30px;
	border-left: 1px solid #191919;
}

.oa_mid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.oa_small_font {
  font-size: 14px;
  line-height: 18px;
}

.oa_p_content form{
	margin: 0;
}

.oa_p_content .oa_input{
	width: 100%;
	padding: 5px 10px;
	margin-top: 20px;
	font-family: 'Alverata-Regular', sans-serif;
    height: 30px;
    font-size: 16px;
    color: rgba(25,25,25,0.4);
    border: 1px solid #191919;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.oa_p_content #oa_submit{
	border: 1px solid #191919;
    background-color: #191919;
    color: #fff;
    height: 35px;
    background-color: #0d0d0d;
    cursor: pointer;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    line-height: 1.1em;
}

.oa_p_content #oa_submit:hover{
	background-color: rgba(255,255,255,0.9);
	color: #0d0d0d;
}


@media only screen and (max-width: 768px) {
	body{padding: 0px;}
	.oa_payment_wrapper{margin-top: 0px;}
	.oa_left{float: none; text-align: center; position: relative; display: table; margin: auto; margin-bottom: 40px;}
	.oa_left img{max-width: 350px;}
	.oa_right{float: none; max-width: none; padding-left: 0px; border-left: 0px;}
	.oa_p_content::after{clear: none; height: auto;}
}
