* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  /*
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
*/
}

sup {
  font-size: 0.6em;
  vertical-align: super;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
  border-bottom: 1px solid #191919;
}

*::selection {
  background: #0000FF;
  color: #FFF;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'aileronregular', sans-serif;
  line-height: 1.45em;
  color: #191919;
  background-color: #d9d9d9;
  letter-spacing: 0.5px;
}

img {
  /* width: 100%; */
  display: block;
}

/* ------------------
    H E A D E R S
------------------ */

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 80px;
  line-height: 1em;
  margin-bottom: 30px;
  background-color: #FFF;
  padding: 10px 40px 30px 20px;
}

h1 span {
  font-size: 1.175em;
  font-family: 'terminal_grotesque', sans-serif;
}

h2 {
  background-color: #FFF;
  padding: 10px 60px 10px 20px;
  display: inline-block;
  margin-left: 50px;
  text-transform: lowercase;
}

h4 {
  padding: 10px 60px 10px 20px;
  display: inline-block;
  font-size: 1em;
  line-height: 1.3em;
  text-transform: lowercase;
}

h4:before {
  content: " ";
  display: inline-block;
  margin-bottom: 1em;
  width: 50px;
  height: 1em;
  margin-right: 20px;
  border-bottom: 1px solid #191919;
}
/* ------------------
    B O R D E R
------------------ */

.oa_wrapper {
  position: relative;
}

.oa_border {
  width: 100%;
  height: 100vh;
  position: fixed;
  border: 3px solid #FFF;
  /* z-index: 999; */
  pointer-events: none;
}

/* ------------------
    T I T L E
------------------ */

.oa_title {
  padding: 80px 280px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.oa_title img {
  max-height: 500px;
}

.oa_title h2 {
  margin-top: 40px;
}

/* ------------------
    B U T T O N S
------------------ */

.oa_buttons {
  width: 160px;
  position: fixed;
  font-size: 16px;
  font-family: 'NEXTBook-Regular', sans-serif;
  text-transform: lowercase;
  text-align: center;
  box-sizing: border-box;
  bottom: 40px;
  left: 40px;
}

.oa_button {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #191919;
  padding: 9px 0px 7px 0px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.15s;
}

.oa_button:hover {
  color: #FFF;
  background-color: #191919;
}

/* ------------------
    C O N T E N T
------------------ */

.oa_content {
  font-size: 18px;
  line-height: 1.45em;
  border-left: 1px solid #000;
  word-wrap: break-word;
}

.oa_content::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.oa_content p {
  padding: 20px 30px;
  margin: 30px 0 0 0;
  background-color: #FFF;
  opacity: 0;
}

.oa_content a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  word-wrap: break-word;
}

.quote {
  display: inline;
  font-style: italic;
}

.oa_content a:before {
  content: '[related: URL]'
}

.oa_content a:hover {
  border-bottom: 1px solid #FFF;
}

/* ---------------------------
    L E F T  +  R I G H T
--------------------------- */

.oa_left, .oa_right {
  float: left;
}

.oa_left {
  width: 60%;
  border-right: 1px solid #000;
  padding: 40px;
}

.oa_right {
  width: 40%;
  height: 2000px;
  padding: 40px;
}

.oa_right p {
  line-height: 1.5em;
}

.oa_right_mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-family: 'NEXTBook-Regular', sans-serif;
  line-height: 1em;
  text-align: center;
  text-transform: lowercase;
  background-color: #FFF;
  border-top: 1px solid #191919;
  padding: 12px 15px 10px 15px;
  cursor: pointer;
  display: none;
}

.oa_right_mobile img {
  width: 13px;
    position: absolute;
    right: 15px;
    /* top: 50%; */
  transition: 0.15s;
}

.rotated {
  transform: rotate(45deg);
  top: 50%;
}

.oa_text>p:first-child {
  margin: 0;
}

.side_note {
  font-size: 16px;
  line-height: 1.35em;
  position: absolute;
  max-width: 26%;
}

.side_note>p {
  margin-top: 10px;
}

.side_note::before {
  content: " ";
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-right: 20px;
  border-top: 1px solid #191919;
  border-right: 1px solid #191919;
}

.note {
  width: 100%;
  font-size: 15px;
  line-height: 1em;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
}

/* ----------------
    B R A N C H
---------------- */

.oa_branch {
  text-align: right;
  margin-bottom: 20px;
}

.oa_branch::before {
  content: " ";
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-right: 20px;
  border-bottom: 1px solid #191919;
  border-left: 1px solid #191919;
}

/* ----------------
    Footnotes
---------------- */

.footnotes li {
  background-color: #FFF;
  padding: 10px 15px;
  margin: 30px 0 0 0;
  display: block;
}

.footnotes a:before {
  display: none;
}

/* ----------------
    C O M M I T
---------------- */

.oa_commit::before {
  content: " ";
  display: inline-block;
  width: 100px;
  height: 30px;
  float: left;
  margin-right: 20px;
  border-bottom: 1px solid #191919;
  border-left: 1px solid #191919;
}

.oa_commit span {
  padding-left: 10px;
  line-height: 1.2em;
}

.oa_commit_entry {
  font-size: 16px;
  line-height: 1.45em;
  margin: -20px 0px 40px 120px;
}

.oa_commit_entry p {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #191919;
}

/* ----------------
    I M A G E S
---------------- */

.oa_img {
  margin: 50px 0px 30px 150px;
}

.oa_img img {
  padding: 20px;
  background-color: #FFF;
  width: 100%;
  filter: invert(100%);
}

.oa_img figcaption {
  line-height: 1.25em;
  margin-top: 10px;
  font-size: 13px;
}

.pixelate {
  font-family: 'terminal_grotesque';
  font-size: 1.1em;
  background-color: #d9d9d9;
  padding: 2px;
  padding-left: 1px;
  font-style: normal;
}

.added {
  background-color: #d9d9d9;
  padding: 2px;
}

.added:before {
  content: '[ added: ';
  background-color: #d9d9d9;
}

.added:after {
  content: ' ]';
  background-color: #d9d9d9;
}

.removed {
  background-color: #d9d9d9;
  padding: 3px;
  text-decoration: line-through;
}

.removed:before {
  content: '[ removed: ';
}

.removed:after {
  content: ' ]';
}

.list-item {
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.list-item:before {
  content: '- ';
}

.right_align {
  text-align: right !important;
}

/*---------  Footer  ---------*/
.oa_footer {
  width: 100%;
  color: #FFF;
  padding: 30px 0 35px;
  background-color: #191919;
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}

.oa_footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #FFF;
}

.oa_footer_wrapper {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.oa_footer_title {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  font-size: 25px;
  margin-bottom: 30px;
}

.oa_footer_signup {
  font-size: 16px;
  line-height: 1em;
  padding: 8px 10px;
  margin-top: 8px;
  background-color: #191919;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-color: #fff;
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
}

.oa_footer_signup:hover {
  color: #191919;
  border: 1px solid #191919;
  background-color: #fff;
}

#f_01 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  /*max-width: 32%;*/
  min-width: 250px;
}

.oa_social {
  width: 20px;
  float: left;
  margin-right: 15px;
  margin-top: 8px;
}

.oa_social:nth-of-type(3) {
  margin-right: 0;
}

.oa_social img {
  width: 100%;
  display: block;
}

.oa_social:nth-of-type(3) img {
  height: 20px;
}

.global {
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}

.global .oa_content {
  border-left: none !important;
}

#global_title {
  padding: none !important;
}

/* newsletter signup */

.oa_modal_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #191919;
  top: 0;
  left: 0;
  display: none;
  cursor: url('/images/karina/close_black.svg'), pointer;
  z-index: 999;
}

.oa_modal {
  width: 600px;
  background-color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid #191919;
  text-align: center;
  font-size: 25px;
  margin: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: auto;
}

.oa_modal_title {
  border-bottom: 1px solid #191919;
  padding: 10px 15px 8px;
}

.oa_modal_content {
  padding: 50px 20px;
}

.oa_modal p {
  text-transform: lowercase;
  margin-bottom: .225em;
}

.oa_modal #mc_embed_signup_scroll {
  width: 100%;
  position: relative;
  margin: 30px auto 20px;
  width: 100%;
}

.oa_modal #mce-EMAIL {
  padding: 5px 10px;
  width: 100%;
  height: 35px;
  font-family: 'Alverata-Regular', serif;
  font-size: 16px;
  color: rgba(0,0,0,0.4);
  border: 1px solid #191919;
}

.oa_modal #mc-embedded-subscribe {
  border: 1px solid #191919;
  background-color: #FFF;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: #191919;
  cursor: pointer;
  -webkit-transition: .15s;
  transition: .15s;
}

.oa_modal #mc-embedded-subscribe:hover {
  background-color: #191919;
  color: #FFF;
}

/* ------  M O B I L E  H E A D E R  ------ */
.oa_mobile_header{
    width: 100%;
    padding: 15px 15px 13px 15px;
    font-size: 25px;
    border: 1px solid #0d0d0d;
    background-color: #fff;
    color: #0d0d0d;
    font-family: 'NEXTBook-Regular', sans-serif;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: none;
}

.oa_mobile_menu{
    width: 100%;
    color: #0d0d0d;
    font-size: 18px;
    font-family: 'NEXTBook-Regular', sans-serif;
    text-align: center;
    text-transform: lowercase;
    background-color: #FFF;
    position: fixed;
    top: 54px;
    right: 1px;
    z-index: 998;
    display: none;
    border: 1px solid #0d0d0d;
}

.oa_mobile_menu ul{
    list-style-type: none;
}

.oa_mobile_menu li{
    border-top: 1px solid #0d0d0d;
    padding: 10px 15px;
    cursor: pointer;
}

.oa_mobile_menu li:hover{
    background-color: #d9d9d9;
    color: #0d0d0d;
}

.oa_mobile_menu li:nth-of-type(1){
    border-top: none;
}

.oa_plus{
    width: 18px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.rotated{
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}

/*--------- Media Queries ---------*/

/* 1280 */

@media only screen and (max-width: 1280px) {
  .oa_content {
    font-size: 16px;
  }
  .oa_left, .oa_right {
    padding: 30px;
  }
  .oa_content p {
    padding: 15px 20px;
  }
  .side_note {
    font-size: 14px;
  }
  .oa_commit::before {
    width: 50px;
    height: 20px;
  }
  .oa_commit_entry {
    margin-left: 70px;
  }
  .oa_img::before {
    width: 50px;
    height: 30px;
    left: -70px;
  }
  .oa_img {
    margin-left: 70px;
  }
}

/* 1024 */

@media only screen and (max-width: 1024px) {
  .oa_left, .oa_right {
    padding: 20px;
  }
  .oa_commit::before {
    width: 20px;
    height: 20px;
  }
  .oa_commit_entry {
    margin-left: 40px;
  }
  .oa_title {
    padding: 80px 60px 80px 280px;
  }
  h4 {
    padding: 0;
  }
  .oa_img {
    margin-left: 40px;
  }
  .oa_img::before {
    width: 20px;
    height: 30px;
    left: -40px;
  }
  #title_image {
    width: 100%;
  }
}

/* 960 */

@media only screen and (max-width: 960px) {
  .oa_footer_title {
    width: 80%;
  }
  .oa_footer_wrapper {
    width: 80%;
  }
  .oa_content {
    font-size: 18px;
  }
  .oa_left {
    width: 100%;
    padding: 40px;
  }
  .oa_right {
    display: none;
  }
  .oa_buttons {
    display: none;
  }
  .oa_title h2 {
    font-size: 20px;
  }
  .oa_right_mobile {
    display: block;
    height: 41px;
  }
  .oa_right_mobile img {
    display: inline;
  }

  .oa_right_mobile .rotated {
  }

  .oa_modal {
    left: 60%;
  }


  .oa_right_show {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 50px;
    background-color: #d9d9d9;
    width: 100%;
    overflow: scroll;
    padding-top: 130px;
  }

  .fix_margin {
    margin-top: 20px !important;
    max-width: 100%;
    position: relative;
    display: block !important;
    opacity: 1 !important;
  }

  .full_height {
    top: 56px;
    z-index: 999999999;
    border-bottom: 1px solid #191919;
  }
}

@media only screen and (max-width: 766px) {
  .oa_modal {
    top: 50%;
    width: 80%;
    left: 50%;
  }
  .oa_title {
    padding: 80px 80px 50px 80px;
  }
  .oa_left {
    padding: 20px;
  }

  h4:before {
    float: left;
  }
}

@media only screen and (max-height: 700px) {
  .oa_buttons {
    bottom: 10px;
  }

  .oa_buttons a div {
    margin-top: 15px !important;
  }
}
