.oa_logo {
  z-index: 999;
}

body {
  font-family: 'junicoderegular', sans-serif !important;
}

.oa_footer_wrapper {
  display: block;
  position: relative;
  z-index: 10;
}

#audio {
  display: none;
}

.oa_content p a {
  color: inherit;
}

.audio_controls {
  margin-bottom: 40px;
  display: flex;
}

.controls {
  display: block;
  border: 1px solid #114526;
  background: none;
  font-family: 'NEXTBook-Regular', sans-serif;
  color: #114526;
  font-size: 12px;
  height: 20px;
  padding: 0 10px 4px 10px;
  margin-right: 10px;
  box-sizing: content-box;
  cursor: pointer;
}
.oa_content img {
  width: 100%;
  margin: 40px 0;
}

#play {
  background-color: #114526;
  color: white;
}

#pause {

}

#time {
  cursor: auto;
  font-family: monospace;
}

#progressOut {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
  height: 26px;
  border: 1px solid #114526;
  position: relative;
  overflow: hidden;
}

#progressIn {
  position: relative;
  height: 100%;
  bottom: 0;
  width: 0;
  background: #114526;
}


.safari .back {
  display: none;
  opacity: 0;
}

.card {
  position: relative;
  width: 100%;
  display: block;
  perspective: 30rem;
  padding-bottom: 40px;
}
.front, .back {
  top: 0px;
  position: absolute;
  width: 100%; height: 100%;
  transition: transform 1s;
  backface-visibility:hidden;
}
.front {
}

.back {
  padding: 0 30%;
  transform: rotateY(180deg);
}
.fontToggle{
  transform: rotateY(180deg);
}
.backToggle {
  transform: rotateY(360deg);
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .oa_title {
    font-size: 75px;
  }

  .title:before {
    background-size: auto 35px;
    height: 35px;
  }


  .oa_wrapper {
    margin: 0 20px 0px 50px;
  }

  .oa_content {
    padding: 80px 40px 40px 40px;
  }

  .oa_content {
    font-size: 18px;
  }

  .oa_divider {
    height: 400px;
  }
}
