* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

*::-moz-selection {
  background: #0000FF;
  color: #fff;
}

*::selection {
  background: #0000FF;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NEXTBook-Regular', sans-serif;
  color: #0000FF;
  background-color: #fff;
}

.oa_window_border {
  position: fixed;
  z-index: 10;
}

#border_top {
  border-top: 1px solid #0000FF;
  width: 100vw;
  height: 1px;
  top: 0;
  left: 0;
}

#border_right {
  border-right: 1px solid #0000FF;
  height: 100vw;
  width: 1px;
  right: 0;
  top: 0;
}

#border_bottom {
  border-bottom: 1px solid #0000FF;
  width: 100vw;
  height: 1px;
  bottom: 0;
  left: 0;
}

#border_left {
  border-left: 1px solid #0000FF;
  height: 100vw;
  width: 1px;
  left: 0;
  top: 0;
}

img {
  display: block;
}

#oa_press_release_list {
  list-style: none;
}
/*---------  content  ---------*/
.oa_title_wrapper {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #0000FF;
}

h1 {
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 70px;
  line-height: 1.15em;
}

h3 {
  font-size: 26px;
  font-family: 'NEXTBook-Regular', sans-serif;
  line-height: 1.15em;
  color: #0000FF;
  font-weight: normal;
  text-transform: lowercase;
  margin-top: 30px;
}

.oa_title {
  width: 100%;
  max-width: 920px;
  margin: 60px auto 100px;
}

#title_wrap {
  display: block;
}

.oa_content {
  width: 100%;
  max-width: 920px;
  font-size: 23px;
  line-height: 1.6em;
  color: rgba(0,0,0,0.8);
  font-family: 'Alverata-Regular', serif;
  position: relative;
  margin: 80px auto;
}

.oa_content a {
  color: #0000FF;
  text-decoration: inherit;
  cursor: pointer;
}

.oa_content a:hover {
  border-bottom: 1px solid #0000FF;
}

.oa_content p {
  margin: 0 0 1.25em;
}

.oa_quote {
  font-size: .875em;
  line-height: 1.6em;
  padding: 20px 75px 20px 50px;
  border-left: 1px solid #0000FF;
  text-indent: -0.35em;
  color: #0000FF;
}

.oa_subheader {
  font-family: 'NEXTBook-Regular', sans-serif;
  text-transform: lowercase;
  color: #0000FF;
  font-size: 36px;
  line-height: 1.15em;
  padding-top: 25px;
  max-width: 60%;
}
/*---------  logo  ---------*/
.oa_logo {
  height: 500px;
  font-size: 26px;
  padding: 10px 40px 10px 10px;
  border: 2px solid #0000FF;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  top: 40px;
  left: 40px;
  cursor: pointer;
}

.oa_logo_inner {
  width: 100%;
  left: 0;
  padding: 50px 10px 10px;
  margin-top: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #0000FF;
  position: absolute;
  cursor: pointer;
}

.oa_logo_color {
  -webkit-transition: .5s;
  transition: .5s;
}

.oa_mobile_header {
  width: 100%;
  padding: 15px 15px 13px;
  font-size: 25px;
  border: 1px solid #0000FF;
  background-color: #FFF;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
/*---------  Buy  ---------*/
.oa_preserve {
  position: fixed;
  padding: 15px;
  font-size: 18px;
  bottom: 40px;
  right: 40px;
  text-transform: lowercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #0000FF;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

.oa_preserve:hover {
  background-color: #0000FF;
  color: #fff;
}

.oa_modal_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #0000FF;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  cursor: url(../../images/oneacre/close.png), pointer;
}

.oa_modal {
  width: 600px;
  background-color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid #0000FF;
  text-align: center;
  font-size: 25px;
  margin: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: auto;
}

.oa_modal_title {
  border-bottom: 1px solid #0000FF;
  padding: 10px 15px 8px;
}

.oa_modal_content {
  padding: 50px 20px;
}

.oa_modal p {
  text-transform: lowercase;
  margin-bottom: .225em;
}

.oa_modal #mc_embed_signup_scroll {
  width: 100%;
  position: relative;
  margin: 30px auto 20px;
  width: 100%;
}

.oa_modal #mce-EMAIL {
  padding: 5px 10px;
  width: 100%;
  height: 35px;
  font-family: 'Alverata-Regular', serif;
  font-size: 16px;
  color: rgba(0,0,0,0.4);
  border: 1px solid #0000FF;
}

.oa_modal #mc-embedded-subscribe {
  border: 1px solid #0000FF;
  background-color: #FFF;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: #0000FF;
  cursor: pointer;
  -webkit-transition: .15s;
  transition: .15s;
}

.oa_modal #mc-embedded-subscribe:hover {
  background-color: #0000FF;
  color: #FFF;
}
/*---------  Footer  ---------*/
.oa_footer {
  width: 100%;
  color: #FFF;
  padding: 30px 0 35px;
  background-color: #191919;
  font-family: 'Alverata-Regular', serif;
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}

.oa_footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #FFF;
}

.oa_footer_wrapper {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.oa_footer_title {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  font-size: 25px;
  font-family: 'NEXTBook-Regular', sans-serif;
  margin-bottom: 30px;
}

.oa_footer_signup {
  font-size: 16px;
  line-height: 1em;
  padding: 8px 10px;
  margin-top: 8px;
  background-color: #191919;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-color: #fff;
  color: #fff;
  text-transform: lowercase;
  font-family: 'NEXTBook-Regular', sans-serif;
  cursor: pointer;
}

.oa_footer_signup:hover {
  color: #191919;
  border: 1px solid #191919;
  background-color: #fff;
}

#f_01 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  /*max-width: 32%;*/
  min-width: 250px;
}

.oa_social {
  width: 20px;
  float: left;
  margin-right: 15px;
  margin-top: 8px;
}

.oa_social:nth-of-type(3) {
  margin-right: 0;
}

.oa_social img {
  width: 100%;
  display: block;
}

.oa_social:nth-of-type(3) img {
  height: 20px;
}

.oa_footer_fixed {
  position: fixed;
  bottom: 0;
}

.auto_height {
  height: auto;
}
/* footnote */
.oa_footnote {
  font-size: .6em;
  vertical-align: super;
  color: #0000FF;
  border-bottom: 1px solid #0000FF;
  margin-left: 5px;
  cursor: pointer;
  line-height: normal;
}

.oa_footnote_entry {
  font-size: .875em;
  line-height: 1.45em;
  padding: 20px 25px;
  color: #0000FF;
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #0000FF;
  border-bottom: 1px solid #0000FF;
  background-color: #FFF;
  font-family: 'Alverata-Regular', serif;
  display: none;
  float: left;
}

.oa_footnote_entry a {
  cursor: pointer;
}

.oa_footnote_entry a:hover {
  border-bottom: 1px solid #0000FF;
}

.oa_source {
  color: rgba(0,0,0,0.4);
  font-size: .65em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text {
  line-height: 1.6em;
}

.text a {
  border-bottom: 1px solid #0000FF;
}
/*--------- media queries ---------*/
@media only screen and (max-width: 1450px) {
  .oa_title {
    max-width: none;
    padding: 0 200px 0 250px;
  }

  .oa_content {
    max-width: none;
    padding: 0 200px 0 250px;
    margin: 80px 0;
  }

  .oa_footer_wrapper {
    width: 100%;
    padding-left: 250px;
    padding-right: 80px;
    max-width: none;
  }

  .oa_footer_title {
    padding-left: 250px;
    max-width: none;
  }
}
@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 23px;
  }

  .oa_content {
    font-size: 19px;
    padding-right: 350px;
  }

  .oa_title {
    margin-bottom: 80px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 21px;
  }

  .oa_title {
    padding: 0 80px 0 250px;
  }

  .oa_content {
    padding: 0 80px 0 250px;
  }

  .oa_footer_wrapper {
    display: block;
  }

  .oa_footer_signup {
    float: left;
    margin-right: 50px;
  }

  #f_01 {
    max-width: none;
    margin-bottom: 15px;
  }

  #f_02 {
    float: left;
    margin-right: 50px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
  }

  .oa_title {
    padding: 0 30px 0 70px;
    margin-bottom: 60px;
  }

  .oa_title_wrapper {
    margin-top: 120px;
  }

  .oa_content {
    padding: 0 30px 0 70px;
    margin: 60px 0;
  }

  .oa_preserve {
    display: none;
  }

  .oa_footer_title {
    padding: 0 30px 0 70px;
  }

  .oa_footer_wrapper {
    padding: 0 30px 0 70px;
  }

  .oa_footer_social {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .oa_social {
    margin-right: 18px;
  }

  .oa_logo {
    width: 20px;
    padding: 0;
    left: 20px;
    top: 80px;
  }

  .oa_logo_inner {
    padding: 50px 0 0;
    width: 18px;
    margin-top: 50px;
  }

  .oa_logo_color {
    visibility: hidden;
  }

  .oa_mobile_header {
    display: block;
  }

  .oa_modal_title {
    display: none;
  }

  .oa_modal {
    width: 80%;
    margin: 0;
  }

  .oa_modal_content {
    padding: 40px 20px;
    font-size: 19px;
  }

  .oa_modal #mc_embed_signup_scroll {
    margin-bottom: 0;
  }

  #title_wrap {
    display: inline;
  }
}
@media only screen and (max-width: 500px) {
  .oa_modal p {
    display: inline;
  }
}
@media only screen and (max-width: 460px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 17px;
  }

  .oa_title_wrapper {
    margin-top: 100px;
  }

  .oa_title {
    margin-bottom: 50px;
    padding: 0 15px 0 45px;
  }

  .oa_content {
    font-size: 16px;
    margin: 30px 0 50px;
    padding: 0 15px 0 45px;
  }

  .oa_footer_title {
    padding: 0 20px 0 45px;
  }

  .oa_footer_wrapper {
    padding: 0 20px 0 45px;
  }

  .oa_logo {
    width: 10px;
    left: 15px;
    height: 350px;
  }

  .oa_logo_inner {
    width: 8px;
  }

  .oa_footnote_entry {
    padding: 20px 15px;
  }

  .oa_quote {
    font-size: .9em;
    padding: 15px 30px;
  }

  .oa_source {
    font-size: .75em;
  }
}
