#draggable-element {
  width:288px;
  height:162px;
  color:white;
  cursor:move;
  position: absolute; /* important (all position that's not `static`) */
  right: 10vw;
  top: 50vh;
  z-index: 99999;
}

img {
    max-height:100%;
    max-width:100%;
}
