/* Nova */
@font-face {
  font-family: 'Nova-Regular';
  font-weight: normal;
  font-style: normal;
  src: url("~assets/fonts/Nova-Regular.woff") format('woff'), url("~assets/fonts/Nova-Regular.woff2") format('woff2');
}
