$font-nova: 'Nova-Regular', sans-serif;
$font-univers: 'Univers-Light', sans-serif;
/* Nova */
@font-face {
  font-family: 'Nova-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Nova-Regular.woff2') format('woff2'),
    url('/assets/fonts/Nova-Regular.woff') format('woff');
}
/* Univers */
@font-face {
  font-family: 'Univers-Light';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Univers-Light.woff2') format('woff2'),
    url('/assets/fonts/Univers-Light.woff') format('woff');
}

@font-face {
  font-family: 'Alverata-Regular';
  src: url('/assets/fonts/Alverata-Regular.woff') format('woff'),
    url('/assets/fonts/Alverata-Regular.woff2') format('woff2'),
    url('/assets/fonts/Alverata-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;

}

@font-face {
  font-family: 'aileronregular';
  src: url('/assets/fonts/Aileron-Regular-webfont.eot');
  src: url('/assets/fonts/Aileron-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Aileron-Regular-webfont.woff') format('woff'),
    url('/assets/fonts/Aileron-Regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/Aileron-Regular-webfont.svg#aileronregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'junicoderegular';
  src: url('/assets/fonts/junicode-regular-webfont.eot');
  src: url('/assets/fonts/junicode-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/junicode-regular-webfont.woff') format('woff'),
    url('/assets/fonts/junicode-regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/junicode-regular-webfont.svg#junicoderegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXTBook-Regular';
  src: url('/assets/fonts/NEXTBook-Regular.woff2') format('woff2'),
    url('/assets/fonts/NEXTBook-Regular.woff') format('woff');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}
