/*  -------------------
    C O L O R S
-------------------  */
$white: #FFF;
$grey: #D9D9D9;
$gray: $grey;
$black: #1A1A1A;
$blue: #0033A1;
$primary: var(--primary);
$secondary: var(--secondary);
$bg-color: var(--bg-color);
$font-color: var(--font-color);
/*  -----------------------
    P U B  C O L O R S
-----------------------  */
$pub-color: rgba($white,0.7);
$pub-bg: #0d0d0d;
/*  -------------------
    F O N T S
-------------------  */
$font-nova: 'Nova-Regular', sans-serif;
$font-univers: 'Univers-Light', sans-serif;
$font-noto: 'Noto Sans JP', sans-serif;
/*  -------------------
    S I Z E S
-------------------  */
$screen-xs: 480px !default;
$screen-sm: 767px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xl: 1600px !default;
/*  -------------------
    M I X I N S
-------------------  */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin respond-from($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin respond-until($size) {
  @media (max-width: $size) {
    @content;
  }
}
@mixin subheader {
  font-size: 1rem;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}