/*  -------------------
    C O L O R S
-------------------  */
$white: #FFF;
$grey: #D9D9D9;
$gray: $grey;
$black: #1A1A1A;
$blue: #0033A1;

$primary: var(--primary);
$secondary: var(--secondary);
$bg-color: var(--bg-color);
$font-color: var(--font-color);

/*  -------------------
    F O N T S
-------------------  */
$font-nova: 'Nova-Regular', sans-serif;
$font-univers: 'Univers-Light', sans-serif;

/*  -------------------
    S I Z E S
-------------------  */
$screen-xs: 480px !default;
$screen-s: 767px !default;
$screen-m: 992px !default;
$screen-l: 1200px !default;
$screen-xl: 1600px !default;
/*  -------------------
    M I X I N S
-------------------  */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin respond-from($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin respond-until($size) {
  @media (max-width: $size) {
    @content;
  }
}
