* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 8px;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Alverata-Regular', serif;
  color: #FFF;
}

h1, h2, h3, h4, p {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0 0 0.25rem;
  border-bottom: 2px solid;
}

/* ==========================================================================
Logo
========================================================================== */
.logo_container {
  position: fixed;
  top: 0px;
  left: 5rem;
  height: 100vh;
}

.oa_logo {
  width: 20rem;
  font-size: 26px;
  padding: 1.25rem 5rem 1.25rem 1.25rem;
  border: 2px solid;
  color: inherit;
  display: inline-block;
  position: absolute;
  font-family: 'NEXTBook-Regular', sans-serif;
  z-index: 999;
  top: 5rem;
  left: 0px;
  cursor: pointer;
  overflow: hidden;
}

.oa_logo_inner {
  width: 100%;
  left: 0px;
  padding: 4.25rem 1.25rem 1.25rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  position: absolute;
  cursor: pointer;
}

.scrollRange {
  height: 370px;
  margin-top: 1.25rem;
}

/* ==========================================================================
Catalogued Objects
========================================================================== */
main {
  width: calc(100vw - 16rem);
  position: relative;
  background-color: #193f72;
  margin: 5rem auto;
  padding: 6rem 8vw;
}

.co_full {
  height: calc(100vh - 10rem);
}

header {
  position: relative;
}

header h1 {
  font-size: 8vw;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2.75rem;
  margin: 0;
}

header h2 {
  font-size: 5rem;
  font-family: 'NEXTBook-Regular', sans-serif;
  line-height: 1em;
  margin: 0 0 4rem;
}

footer {
  width: calc(100% - 16vw);
  bottom: 10rem;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

footer p {
  margin: 0;
  font-size: 3.5rem;
  font-family: 'NEXTBook-Regular', sans-serif;
  line-height: 1.15em;
  /* text-transform: lowercase; */
}

footer a {
  transition: color 0.15s ease-out;
  l
}

footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* ==========================================================================
Fold
========================================================================== */
#co_page {
  font-size: 3rem;
  line-height: 1em;
  margin: 0;
  position: fixed;
  top: 5rem;
  right: 4rem;
  color: #193f72;
  pointer-events: none;
  z-index: 11;
}

#bladr_fold {
  max-width: 150px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10;
}

#bladr_fold:hover {
  max-width: 165px;
}

/* ==========================================================================
Borders
========================================================================== */
.border {
  position: fixed;
}

.b_w {
  background-color: #FFF;
  z-index: 1;
}

.b_b {
  background-color: #193f72;
  z-index: 2;
}

/* White Borders */
#w_left {
  width: 8vw;
  height: 60vh;
  left: 0;
  animation: scale-y 10s ease infinite;
}

#w_right {
  width: 8vw;
  height: 60vh;
  right: 0;
  animation: scale-y 10s ease 2s infinite;
}

#w_bottom {
  width: 70vw;
  height: 10rem;
  bottom: 0;
  animation: scale-x 10s ease infinite;
}

/* Blue Borders */
#b_left {
  width: 3rem;
  height: 50vh;
  left: 0;
  animation: move-y 20s ease infinite;
}

#b_right {
  width: 3rem;
  height: 50vh;
  right: 0;
  animation: move-y 20s ease 4s infinite;
}

#b_bottom {
  width: 30vw;
  height: 3rem;
  bottom: 0;
  margin: 0 20vw;
  animation: move-x 20s ease 4s infinite;
}

.b_top {
  top: 0;
}

.b_bottom {
  bottom: 0;
}

.b_left {
  left: 0;
}

.b_right {
  right: 0;
}

/* ==========================================================================
Article
========================================================================== */
article {
  width: 100%;
  padding: 0 0 10rem;
}

article .co_title {
  max-width: 900px;
  margin: 0 auto 12rem;
}

article .co_title h1 {
  font-size: 10rem;
  font-family: 'Alverata-Regular', sans-serif;
  line-height: 1.15em;
  margin: 0 0 6rem;
  text-transform: none;
}

article .co_byline h2, article .co_byline p {
  font-size: 2.75rem;
  line-height: 1em;
  margin: 0 0 1.5rem;
}

article .co_byline *::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 6rem;
  background-color: #FFF;
  margin: 0.85rem 3rem 0 0;
  float: left;
}

article figure {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 56.25%;
  margin: 0 0 12rem;
}

article .co_body {
  max-width: 720px;
  margin: 0 auto
}

article .co_body h3 {
  font-size: 2.75rem;
  font-family: 'NEXTBook-Regular', sans-serif;
  line-height: 1em;
  margin: 12rem 0 2rem;
}

article .co_body a {
  border-bottom: 1px solid;
  transition: 0.15s;
}

article .co_body a:hover {
  color: rgba(255, 255, 255, 0.5);
}

article .co_body p {
  width: 100%;
  font-size: 2.5rem;
  font-family: 'Alverata-Regular', serif;
  line-height: 1.55em;
  margin: 0 0 4rem;
}

article .co_body p:first-of-type::first-letter {
  font-size: 5.15em;
  float: left;
  margin: 4.15rem 1.5rem 0 -1rem;
}

article .co_body figure {
  margin-right: 0;
}

/* ==========================================================================
Media Query
=============================================================================
1024px
========================================================================== */
@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 6.5vw;
  }

  article .co_title h1 {
    font-size: 8rem;
  }

  article .co_title {
    margin: 0 0 10rem;
  }

  article .co_byline *::before {
    height: 1.25rem;
    width: 5rem;
    margin: 0.5rem 2rem 0 0;
  }

  article .co_byline h2, article .co_byline p {
    font-size: 2.25rem;
    margin: 0 0 1rem;
  }

  article .co_body h3 {
    font-size: 2.5rem;
  }

  article .co_body p {
    font-size: 2.25rem;
  }

  article .co_body p:first-of-type::first-letter {
    font-size: 5em;
    margin: 3.35rem 1.25rem 1rem -1rem;
  }

  footer p {
    font-size: 3rem;
  }

  /* ==========================================================================
768px
========================================================================== */
  @media screen and (max-width: 768px) {
    header {
      position: absolute;
      top: 40%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
    }

    main {
      padding: 6rem 6vw;
      width: calc(100vw - 12rem);
    }

    article {
      padding: 0;
    }

    article .co_title h1 {
      font-size: 6rem;
      margin: 0 0 4.5rem;
    }

    article .co_title {
      margin: 0 0 6rem;
    }

    article figure {
      margin: 0 0 8rem;
    }

    .b_bot {
      display: none;
    }

    #b_left, #b_right {
      width: 2rem;
    }

    #w_left, #w_right {
      display: none;
    }

    footer {
      width: 100%;
      left: 0;
      bottom: 30%;
      display: block;
      text-align: center;
    }

    footer p {
      margin: 0 0 1rem;
    }

    footer p:first-of-type {
      margin: 0 0 1rem;
    }
  }

  /* ==========================================================================
640px
========================================================================== */
  @media screen and (max-width: 640px) {
    header {
      top: 30%;
    }

    header h1 {
      font-size: 7vw;
      letter-spacing: 2rem;
      text-indent: 2rem;
    }

    main {
      padding: 4rem 5vw;
      width: calc(100vw - 8rem);
    }

    article .co_title {
      margin: 0 0 4rem;
    }

    article .co_title h1 {
      font-size: 5rem;
      margin: 0 0 4rem;
    }

    article .co_byline *::before {
      width: 4rem;
    }

    article .co_byline h2, article .co_byline p {
      font-size: 2rem;
    }

    article .co_body h3 {
      font-size: 2rem;
      margin: 8rem 0 1.75rem;
    }

    article .co_body p {
      font-size: 2rem;
      margin: 0 0 3rem;
    }

    article .co_body p:first-of-type::first-letter {
      margin: 3rem 1.25rem 1rem -1rem;
    }

    article .co_body figure {
      margin: 0 0 3rem;
    }

    #b_left, #b_right {
      width: 1.5rem;
    }

    #co_page {
      right: 2rem;
    }

    #bladr_fold {
      max-width: 120px;
    }

    #bladr_fold:hover {
      max-width: 135px;
    }

    footer {
      bottom: 25%;
    }

    footer p {
      font-size: 2.5rem;
    }
  }

  /* ==========================================================================
460px
========================================================================== */
  @media screen and (max-width: 460px) {
    .co_full {
      height: calc(100vh - 4rem);
    }

    header h1 {
      line-height: 1.4em;
    }

    main {
      padding: 3rem 3rem;
      width: calc(100vw - 4rem);
      margin: 2rem auto;
    }

    article .co_title h1 {
      font-size: 4rem;
      margin: 0 0 3rem;
    }

    article figure {
      margin: 0 0 6rem;
    }

    article .co_byline *::before {
      height: 1rem;
      width: 3.5rem;
      margin: 0.5rem 1.5rem 0 0;
    }

    article .co_byline h2, article .co_byline p {
      font-size: 1.75rem;
    }

    article .co_body h3 {
      font-size: 2rem;
      margin: 6rem 0 1.75rem;
    }

    article .co_body p {
      font-size: 1.75rem;
      margin: 0 0 3rem;
    }

    article .co_body p:first-of-type::first-letter {
      margin: 2.5rem 1.25rem 1rem -0.5rem;
    }

    #co_page {
      font-size: 2.5rem;
      top: 2.5rem;
    }

    #bladr_fold {
      max-width: 100px;
    }

    #bladr_fold:hover {
      max-width: 110px;
    }

    #b_left, #b_right {
      display: none;
    }

    footer p {
      margin: 0 0 0.5rem;
    }
  }