.notice {
  padding: 5px 20px;
  margin: 10px 1%;
  background-color: white;
  border: 1px solid black;
  width: 95%;
}

.notice p::after {
  content: 'close';
  float: right;
  display: inline-block;
}
